<div class="main-wrap">
  <div class="container">
  <h1>SpaceX Launch Programs</h1>
  <div class="row">
    <div class="filter-wrap">
      <div>
        <h3>Filters</h3>
        <h4 class="title">
          Launch Year
        </h4>
        <div class="btn-wrap">
          <button [class.active-year]="launchyear === i"
          *ngFor="let item of [].constructor(15); let i = index" (click)="onYearClick(i)">{{ 2006 + i }}</button>
        </div>
      </div>
      
      <div>
        <h4 class="title">
          Successful Launch
        </h4>
        <div class="btn-wrap">

          <button [class.active-year]="successfulLaunch === 'true'"
          (click)="onLaunchClick('true')">True</button>
          <button [class.active-year]="successfulLaunch === 'false'"
          (click)="onLaunchClick('false')">False</button>
        </div>
      </div>
    
      <div>
        <h4 class="title">
          Successful Landing
        </h4>
        <div class="btn-wrap">
          <button [class.active-year]="successfulLanding === 'true'"
          (click)="onLandingClick('true')">True</button>
          <button [class.active-year]="successfulLanding === 'false'"
          (click)="onLandingClick('false')">False</button>
        </div>
      </div>
    </div>
  
    <div class="main-body">
      <div class="row">
        <app-launch-card class="item-wrap" [launchData]="data" *ngFor="let data of launchData"></app-launch-card>
      </div>
      <h4>Developed by:</h4> Abhishek Chandel (eci.achandel@gmail.com)
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
</div>