<div class="item">
    <img src="{{launchData.links.mission_patch_small}}" alt="img">
    <div>
        <a class="name">{{launchData.mission_name}} #{{ launchData.flight_number }}</a>
            
        <h4>Mission Ids:</h4>
        <ul>
            <li *ngFor="let mId of launchData.mission_id">{{ mId }}</li>
        </ul>
        <div class="detail">
            <strong>Launch Year:</strong> <a>{{launchData.launch_year}}</a>
        </div>
        <div class="detail">
            <strong>Successful Launch:</strong> <a>{{launchData.launch_success === true ? 'yes' : 'no'}}</a>
        </div>
        <div class="detail">
            <strong>Successful Landing:</strong> <a>{{launchData.rocket.first_stage.cores[0]?.land_success === true ? 'yes' : 'no'}}</a>
        </div>
    </div>
</div>